.writer-footer {
	position: fixed;
	bottom: 5px;
	border: 1px solid black;
	padding: 5px;
	display: inline;
	box-sizing: border-box;
	width: 100%;
	left: 0;
}

.writer-footer > .send-button {
	float: right;
	width: 15%;
}

.writer-footer > .send-input {
	width: 83%;
}