@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link href="~/Content/Styles/Main.css" rel="stylesheet" />
	<title>Signal Chat</title>
</head>
<body>
	<div>
		<div></div>

		<div class="writer-footer">
			<input class="send-input" type="text" name="writer" placeholder="Type your message..."/>
			<button class="send-button" type="button">Send</button> 
		</div>
	</div>
</body>
</html>
