@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link href="~/Content/Styles/Main.css" rel="stylesheet" />
	<title>Signal Chat</title>
</head>
<body>
	<div>
		<div id="chat-window">
			<div class="message my-message">
				<b>Rizan</b><b class="message-time">02:30 am</b>
				<p>Hello World of Goo!</p>
			</div>
			<div class="message other-message">
				<b>Alex</b><b class="message-time">02:30 am</b>
				<p>Hello World of Torpedo!</p>
			</div>
		</div>

		<div id="writer-footer">
			<input class="send-input" type="text" name="writer" placeholder="Type your message..." spellcheck="true" lang="en"/>
			<button class="send-button" type="button">Send</button> 
		</div>
	</div>
</body>
</html>
